@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-y-12 {
    transform: rotateY(12deg);
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
}

.animate-slide-right {
  animation: slideRight 1s ease-out forwards;
}

@keyframes slideRight {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}